body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: red; */
  }
  
  .App {
    /* position: absolute; */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    width: 700px;
    height: 700px;
    /* background-color: green; */
  }
  
  .crop-container {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0; */
    /* bottom: 80px; */
    width: 700px;
    height: 500px;
    /* background-color: blue; */
  }
  
  .controls {
    position: absolute;
    /* bottom: 0; */
    top: 70%;
    width: 700px;
    /* transform: translateX(-50%); */
    height: 80px;
    display: flex;
    align-items: center;
    /* background-color: red; */
  }
  
  .slider {
    background-color: yellow;
    padding: 22px 0px;
  }